<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocksTun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SocksTun.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>10.3.0.1</value>
            </setting>
            <setting name="DHCPNetmask" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="DHCPServer" serializeAs="String">
                <value>10.3.0.254</value>
            </setting>
            <setting name="RemoteNetwork" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="RemoteNetmask" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="SocksPort" serializeAs="String">
                <value>59000</value>
            </setting>
            <setting name="LogPort" serializeAs="String">
                <value>58000</value>
            </setting>
            <setting name="DHCPLeaseTime" serializeAs="String">
                <value>31536000</value>
            </setting>
            <setting name="Services" serializeAs="String">
                <value />
            </setting>
            <setting name="TunTapDevice" serializeAs="String">
                <value />
            </setting>
        </SocksTun.Properties.Settings>
    </applicationSettings>
</configuration>